
    <div class="pt-md-2 pb-md-4 pl-md-4 pr-md-4 mr-xl-n5 float-left h-25">
        <mdb-card cascade="true" narrow="true" >
            <!--Card image-->
            <div class="view view-cascade overlay waves-light zoom" mdbWavesEffect >
                <mdb-card-img [src]="user.profilePicture"> </mdb-card-img>
                <a [routerLink]="['../user/'+user.userId]">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <!--/Card image-->
            <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                <!--Card content-->
                <h5 class="pink-text">
                    <mdb-icon fas icon="user-astronaut"></mdb-icon> {{user.name}}
                </h5>
                <!--Title-->
                <h4 class="card-title">@{{user.name}}</h4>
                <!--Text-->

                <!-- Card footer -->
                <div class="card-footer text-muted text-center mt-4">
                    {{user.numberOfQuotes}} quotes
                </div>

            </mdb-card-body>
            <!--/.Card content-->
        </mdb-card>
    </div>
        <!--/.Card-->
