<!-- News jumbotron -->
<div class="jumbotron text-center hoverable p-4">

    <!-- Grid row -->
    <div class="row">

        <!-- Grid column -->
        <div class="col-md-4 offset-md-1 mx-3 my-3">

            <!-- Featured image -->
            <div class="view overlay zoom waves-light" mdbWavesEffect>
                <img [src]="user.profilePicture" class="img-fluid" alt="Isso não é o tinder.">
                <a>
                    <div class="mask rgba-blue-slight"></div>
                </a>
            </div>

        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-7 text-md-left ml-3 mt-3">

            <!-- Excerpt -->
            <a href="#!" class="green-text">
                <h1><mdb-icon fas icon="user-astronaut" class="pr-1"></mdb-icon> @{{user.name}}</h1>
            </a>
            <br />
            <br />
            <div class="row">
                <div class="row col-sm">
                    <div><p><mdb-icon fas icon="medal" size="2x" class="yellow-text pr-3" aria-hidden="true"></mdb-icon> </p></div>
                    <div class="align-middle text-info">0</div>
                </div>
                <div class="row col-sm">
                    <div><p><mdb-icon fas icon="quote-left" size="2x" class="grey-text pr-3" aria-hidden="true"></mdb-icon> </p></div>
                    <div class="align-middle text-info">{{user.numberOfQuotes}}</div>
                </div>
                <div class="row col-sm">
                    <div><p><mdb-icon fas icon="thumbs-up" size="2x" class="green-text pr-3" aria-hidden="true"></mdb-icon> </p></div>
                    <div class="align-middle text-info">{{user.upVotes}}</div>
                </div>
                <div class="row col-sm">
                    <div><p><mdb-icon fas icon="thumbs-down" size="2x" class="red-text pr-3" aria-hidden="true"></mdb-icon> </p></div>
                    <div class="align-middle text-info">{{user.downVotes}}</div>
                </div>
                <div class="row col-sm">
                    <div><p><mdb-icon fas icon="skull-crossbones" size="2x" class="grey-text pr-3" aria-hidden="true"></mdb-icon> </p></div>
                    <div class="align-middle text-info">{{user.snitchScore}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<quotes-list [quotesList]="quotes"></quotes-list>

<!-- News jumbotron -->