<mdb-card>
    <mdb-card-header>{{quote.date | date: 'dd/MM/yyyy'}}, <b>Dedurado por:</b> <a [routerLink]="['../user/'+quote.snitchId]">{{quote.snitchName}}</a></mdb-card-header>
    <mdb-card-body class="padding-quote">
        <div class="container col-md-12">
            <div class="row h-100">
                <div class="col-lg-1 align-middle">
                    <div class="zoom  pl-md-1 pt-md-2 pb-md-2">
                        <img [src]="quote.userPicture" style="cursor : pointer;" [routerLink]="['../user/'+quote.userId]" class="align-middle img-fluid rounded-circle avatar mx-auto"
                             alt="zoom">
                    </div>
                </div>
                <div class="col-md-7 pt-md-2 pb-md-2" class>
                    <blockquote class="blockquote">
                        <font size="6">
                            <p class="mb-0">{{quote.content}}</p>
                        </font>
                        <footer class="blockquote-footer mb-3">{{quote.userName}} <cite title="Source Title">, <b>Canal de origem:</b> Source Title</cite></footer>
                    </blockquote>
                </div>
                <div class="col-md-1 pt-md-4">
                    <div class="container">
                        <div class="row  h-100 d-inline-block">
                            <div class="col">
                                <span class="fa-stack fa-2x align-middle">
                                    <i class="fas fa-circle fa-stack-2x green-text"></i>
                                    <i class="fas fa-thumbs-up fa-stack-1x fa-inverse white-text"></i>
                                </span>
                            </div>
                            <div class="w-100"></div>
                            <div class="col text-success text-center align-bottom">
                                <b> {{quote.downvotes}} </b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1  pt-md-4">
                    <div class="container">
                        <div class="row h-100 d-inline-block">
                            <div class="col">
                                <div class=" overlay zoom">
                                    <span class="fa-stack fa-2x ">
                                        <i class="fas fa-circle fa-stack-2x red-text"></i>
                                        <i class="fas fa-thumbs-down fa-stack-1x fa-inverse white-text"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col text-danger text-center">
                                <b> {{quote.upvotes}} </b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mdb-card-body>
</mdb-card>